<h3> Post Index </h3>
<ul>
  {{#each model as |post|}}
    <li>
      {{#link-to 'post' post}}
        {{post.title}}
      {{/link-to}}
      {{link-to "Edit" "post.edit" post tagName='button'}}
      <button {{action 'delete' post}}>Delete</button>
    </li>
  {{/each}}
</ul>
{{#link-to 'post.new'}}New Post{{/link-to}}
